<!-- templates/email_logs.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Logs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Email Logs</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Sender</th>
                    <th>Recipients</th>
                    <th>Subject</th>
                    <th>DateTime (UTC)</th>
                    <th>Status</th>
                    <th>Recipients Failure</th>
                </tr>
            </thead>
            <tbody>
                {% for log_entry in email_logs %}
                    <tr>
                        <td>{{ log_entry.sender }}</td>
                        <td>{{ log_entry.recipients }}</td>
                        <td>{{ log_entry.subject }}</td>
                        <td>{{ log_entry.datetime_utc }}</td>
                        <td>{% if log_entry.success %}Success{% else %}Failure{% endif %}</td>
                        <td>{{ log_entry.failed_recipients }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('email.index') }}" class="btn btn-primary">Send Another Email</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
